.venv
venv
env/
.DS_Store
__pycache__
mnist
checkerboard
normal
gaussians
moons
spirals 
data
copyrnode.out
rnode.out
otcfm.out
node.out
data_plots
best_metrics.txt
run.node
run.rnode
run.otcfm
run.copyrnode
